.hide {
    display: none;
}

#nav {
    font-family: 'Comfortaa', cursive;
}

#quiz {
    width: 500px;
    margin: auto;
}

#yourScore {
    width:500px;
    margin: auto;
}

#start {
    width: 500px;
    margin: auto;
    font-family: 'Comfortaa', cursive;
}

#title {
    font-size: 70px;
}

#player {
    width: 250px;
    height: 48px;
}

#finalScore {
    text-align: center;
}

#highScores {
    width:300px;
    margin: auto;
}

#scoreList {
    list-style-type: none;
    text-align: center;
    
}


h3 {
    color: #444444;
}

